<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'moneyLawndering/style.css' %}">
</head>

<body class="normal-page-background">
    <header>
        <div class="navBar">
            {% if user.type == 0 %}
                <div class="navBarBox">Welcome to Money Lawndering!</div>
                <div class="selectedNavBarBox"> Account </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:publicListing' %}"><div>Public Listings</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:acceptedJobs' %}"><div>Accepted Jobs</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:history' %}"><div>History</div></a> </div>
            {% elif user.type == 1 %}
                <div class="navBarBox">Welcome to Money Lawndering!</div>
                <div class="selectedNavBarBox"> Account </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:myListing' %}"><div>Your Listings</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:createListing' %}"><div>New Listing</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:directTransfer' %}"><div>Direct Transfer</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:history' %}"><div>History</div></a> </div>
            {% elif user.type == 2 %}
                <div class="navBarBox">Welcome to Money Lawndering!</div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:admin' %}"><div>Admin</div></a> </div>
                <div class="selectedNavBarBox"> Account </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:publicListing' %}"><div>Public Listings</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:history' %}"><div>History</div></a> </div>
                <div class="navBarBox">
                    <a href="{% url 'moneyLawndering:category' %}">
                        <div>Categories</div>
                    </a>
                </div>
            {% endif %}
        </div>
    </header>
    <div>You're on your account page, {{ user.name }}.</div>
    <div class="accountBox">
        <div class="accountInfo">
            <form action="{% url 'moneyLawndering:updateUser' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <label for="name">Name</label><br>
                <input type="text" name="name" id="name" value="{{ user.name }}"><br>

                <label for="email">Email</label><br>
                <input type="email" name="email" id="email" value="{{ user.email }}"><br>

                <label for="password">Password</label><br>
                <input type="password" name="password" id="password" value="{{ user.password }}"><br>

                <label for="confirmedPassword">Confirm Password</label><br>
                <input type="password" name="confirmedPassword" id="confirmedPassword" value="{{ user.password }}"><br>

                <label for="phoneNumber">Phone Number</label><br>
                <input type="number" name="phoneNumber" id="phoneNumber" value="{{ user.phoneNumber }}"><br>

                <label for="address">Address</label><br>
                <input type="text" name="address" id="address" value="{{ user.address }}"><br>

                <label for="accountBalance">Account Balance</label><br>
                <input type="number" name="accountBalance" id="accountBalance" value="{{ user.accountBalance }}"><br>

                <input type="submit" value="Update Info">
            </form>
        </div>

        <div class="starRatingBox">
            <h1>Your Rating:</h1>
            {% if user.rating == 0 %}
                <img style="width: 50vh;" src='/static/moneyLawndering/Star_rating_0_of_5.png' alt="0 Stars">
            {% elif user.rating == 1 %}
                <img style="width: 50vh;" src='/static/moneyLawndering/Star_rating_1_of_5.png' alt="1 Star">
            {% elif user.rating == 2 %}
                <img style="width: 50vh;" src='/static/moneyLawndering/Star_rating_2_of_5.png' alt="2 Stars">
            {% elif user.rating == 3 %}
                <img style="width: 50vh;" src='/static/moneyLawndering/Star_rating_3_of_5.png' alt="3 Stars">
            {% elif user.rating == 4 %}
                <img style="width: 50vh;" src='/static/moneyLawndering/Star_rating_4_of_5.png' alt="4 Stars">
            {% else %}
                <img style="width: 50vh;" src='/static/moneyLawndering/Star_rating_5_of_5.png' alt="5 Stars">
            {% endif %}
        </div>
    </div>
    {% if reviews|length != 0 %}
    <div>
        <h2>Your Past Ratings:</h2>
    </div>
    <div class="table-div">
        <table id="review-table">
            <tr>
                <th>Customer</th>
                <th>Rating</th>
                <th>Description</th>
            </tr>
            {% for review in reviews %}
                <tr>
                    <th>{{review.customer}}</th>
                    <th>{{review.rating}}</th>
                    <th>{{review.description}}</th>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top bg-light">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <span class="text-muted">© 2022 Group 6, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li><span class="social-text social-box"><p>Follow us!</p></span></li>
			<li><span class="social-icon social-box social-facebook"><i class="fa fa-facebook"></i></span></li>
            <li><span class="social-icon social-box social-instagram"><i class="fa fa-instagram"></i></span></li>
            <li><span class="social-icon social-box social-twitter"><i class="fa fa-twitter"></i></span></li>
            <li><span class="social-icon social-box social-twitter"><i class="fa fa-linkedin"></i></span></li>
        </ul>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>