<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Listing</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'moneyLawndering/style.css' %}">
</head>
<body class="normal-page-background">
    <header>
        <div class="navBar">
            {% if user.type == 0 %}
                <div class="navBarBox">Welcome to Money Lawndering!</div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:account' %}"><div>Account</div></a> </div>
                <div class="selectedNavBarBox"> Public Listings </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:acceptedJobs' %}"><div>Accepted Jobs</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:history' %}"><div>History</div></a> </div>
            {% elif user.type == 1 %}
                <div class="navBarBox">Welcome to Money Lawndering!</div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:account' %}"><div>Account</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:myListing' %}"><div>Your Listings</div></a> </div>
                <div class="selectedNavBarBox"> New Listing </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:directTransfer' %}"><div>Direct Transfer</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:history' %}"><div>History</div></a> </div>
            {% endif %}
        </div>
    </header>
    <div class="listingInfo">
        <form action="{% url 'moneyLawndering:newListing' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <label for="category">Choose a category:</label><br>
            <select name="category" id="category">
               {% for category in categories%}
                 <option value={{category.type}}> {{category.type}}</option>
               {% endfor %}
            </select><br>

            <label for="location">Location</label><br>
            <input type="text" name="location" id="location" value="{{user.address}}"><br>

            <label for="time_est">Estimated time to complete job (hrs)</label><br>
            <input type="number" name="time_est" id="time_est" value=1>
            <small> hrs</small><br>

            <label for="dayOfWeek">Day of week you are available</label><br>
            <select name="dayOfWeek" id="dayOfWeek" multiple>
              <option value="monday">Monday</option>
              <option value="tuesday">Tuesday</option>
              <option value="wednesday">Wednesday</option>
              <option value="thursday">Thursday</option>
              <option value="friday">Friday</option>
              <option value="saturday">Satuday</option>
              <option value="sunday">Sunday</option>
            </select><br>

            <label for="startTime">You are available from: </label><br>
            <input type="time" id="startTime" name="startTime"
               min="07:00:00" max="20:00:00" required><br>

            <label for="endTime">To: </label><br>
            <input type="time" id="endTime" name="endTime"
               min="07:00:00" max="20:00:00" required><br>

            <label for="description">Description of Job:</label><br>
            <textarea id="description" name="description" rows="4" cols="50"></textarea> <br>

            <label for="price">Price</label><br>
            <input type="number" name="price" id="price"><small>$</small><br>

            <input type="submit" value="createListing">
        </form>
    </div>
</body>
</html>