<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Listing</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css' type='text/css' />
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'moneyLawndering/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'moneyLawndering/style.css' %}">
</head>
<body class="normal-page-background">
		<header>
			<div class="container-sm">
				<div class="row navBar pl-3 d-flex justify-content-between">
					<div class="navbar centered">
						<img class="col logoHeader" src="{% static 'moneyLawndering/ML-logo.png' %}" alt="MoneyLawndering Logo">
						<div class="col mr-4"> <a class="text-white" href="{% url 'moneyLawndering:account' %}">Account</a></div>
                        <div class="col mr-4 text-white"> <a class="text-white" href="{% url 'moneyLawndering:myListing' %}">Your Listings</a></div>
                        <div class="col mr-4 text-white"> <a class="text-white" href="{% url 'moneyLawndering:createListing' %}"><b>New Listing</b></a></div>
                        <div class="col mr-4 text-white"> <a class="text-white" href="{% url 'moneyLawndering:directTransfer' %}">Direct Transfer</a></div>
						<div class="col"> <a class="text-white" href="{% url 'moneyLawndering:history' %}">History</a></div>
					</div>
					<div class="navbar d-flex justify-content-end">
						<div class="col text-warning"><a class="text-warning" href="{% url 'moneyLawndering:logout' %}">Log Out</a></div>
					</div>
				</div>
			</div>
		</header>
	<div class='fix'>
    <div class="container d-flex justify-content-center">
        <div class="card loginContents blurred m-3 w-50 text-center">
            <form action="{% url 'moneyLawndering:newListing' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="form-group">
                    <label for="category" class="form-label"><b>Choose a category:</b></label>
                    <select name="category" id="category" class="form-control">
                       {% for category in categories%}
                         <option value={{category.type}}> {{category.type}}</option>
                       {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="price" class="form-label"><b>Price ($):</b></label>
                    <input type="number" name="price" id="price" class="form-control">
                </div>

                <div class="form-group">
                    <label for="description" class="form-label"><b>Description of Job:</b></label>
                    <textarea id="description" class="form-control" name="description" rows="4" cols="50"></textarea>
                </div>

                <div class="form-group">
                    <label for="time_est" class="form-label"><b>Estimated time to complete job (hrs)</b></label>
                    <input type="number" name="time_est" id="time_est" class="form-control" value=1>
                </div>

                <div class="form-group">
                    <label for="dayOfWeek" class="form-label"><b>Day of week you are available</b></label>
                    <select name="dayOfWeek" id="dayOfWeek" class="form-control" multiple>
                      <option value="monday">Monday</option>
                      <option value="tuesday">Tuesday</option>
                      <option value="wednesday">Wednesday</option>
                      <option value="thursday">Thursday</option>
                      <option value="friday">Friday</option>
                      <option value="saturday">Satuday</option>
                      <option value="sunday">Sunday</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="startTime" class="form-label"><b>You are available from: </b></label>
                    <input type="time" id="startTime" class="form-control" name="startTime"
                       min="07:00:00" max="20:00:00" required>
                </div>

                <div class="form-group">
                    <label for="endTime" class="form-label"><b>To: </b></label>
                    <input type="time" id="endTime" class="form-control" name="endTime"
                       min="07:00:00" max="20:00:00" required>
                </div>

                <div class="form-group">
                    <label for="location" class="form-label"><b>Location</b></label>
                    <input type="text" name="location" id="location" class="form-control" value="{{user.address}}">
                </div>

                <div class="form-group">
                    <div id="map" class="map-noclick"></div>
                </div>

                <input type="submit" class="btn btn-primary" value="Create Listing">
            </form>
        </div>
    </div>
	</div>
		<footer>
			<div class="container-sm">
				<div class="row py-3 bg-light">
					<div class="w-100 mt-2 d-flex justify-content-end">
						<span class="social-text">Follow us!</span>
						<span class="social-icon social-box social-facebook"><i class="fa fa-facebook"></i></span>
						<span class="social-icon social-box social-instagram"><i class="fa fa-instagram"></i></span>
						<span class="social-icon social-box social-twitter"><i class="fa fa-twitter"></i></span>
						<span class="social-icon social-box social-twitter"><i class="fa fa-linkedin"></i></span>
					</div>
					<div class='text-muted ml-3'><p>© 2022 Group 6, Inc</p></div>
				</div>
			</div>
		</footer>
    {% load static %}
    <script src="{% static 'moneyLawndering/createListing.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>