<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Listing</title>
</head>
<body>
<div>You're on the new listing page.</div>

<form action="{% url 'moneyLawndering:newListing' user.id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <label for="category">Choose a category:</label>
    <select name="category" id="category">
       {% for category in categories%} 
         <option value={{category.type}}> {{category.type}}</option>
       {% endfor %}
    </select> 


    <label for="location">Location</label><br>
    <input type="text" name="location" id="location" value="location"><br>
    


    <label for="time_est">Estimated time to complete job (hrs)</label>
    <input type="number" name="time_est" id="time_est" value=1>
    <small> hrs</small><br>
    


    <label for="dayOfWeek">Day of week you are available</label>
    <select name="dayOfWeek" id="dayOfWeek" multiple>
      <option value="monday">Monday</option>
      <option value="tuesday">Tuesday</option>
      <option value="wednesday">Wednesday</option>
      <option value="thursday">Thursday</option>
      <option value="friday">Friday</option>
      <option value="saturday">Satuday</option>
      <option value="sunday">Sunday</option>
    </select><br>


    <label for="startTime">You are available from: </label>
    <input type="time" id="startTime" name="startTime"
       min="07:00:00" max="20:00:00" required>

    

    <label for="endTime">To: </label>
    <input type="time" id="endTime" name="endTime"
       min="07:00:00" max="20:00:00" required><br>


    <label for="description">Description of Job:</label>
    <textarea id="description" name="description" rows="4" cols="50"></textarea> <br>


    <label for="price">Price</label><br>
    <input type="number" name="price" id="price"><small>$</small><br>

    <input type="submit" value="createListing">
</form>
</body>
</html>