<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Direct Transfer</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'moneyLawndering/style.css' %}">
</head>

<body class="normal-page-background">
    <header>
        <div class="navBar">
            {% if user.type == 0 %}
                <div class="navBarBox">Welcome to Money Lawndering!</div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:account' %}"><div>Account</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:publicListing' %}"><div>Public Listings</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:acceptedJobs' %}"><div>Accepted Jobs</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:history' %}"><div>History</div></a> </div>
            {% elif user.type == 1 %}
                <div class="navBarBox">Welcome to Money Lawndering!</div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:account' %}"><div>Account</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:myListing' %}"><div>Your Listings</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:createListing' %}"><div>New Listing</div></a> </div>
                <div class="selectedNavBarBox"> Direct Transfer </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:history' %}"><div>History</div></a> </div>
            {% endif %}
        </div>
    </header>
    <div class="transferInfo">
        {% if workers|length == 0 %}
            <div>You need to hire someone once before you can send them money.</div>
        {% else %}
        <form action="{% url 'moneyLawndering:sendMoney' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <label for="worker">Worker</label><br>
            <select name="worker" id="worker">
            {% for worker in workers %}
                <option value="{{worker.pk}}">{{worker.name}}</option>
            {% endfor %}
            </select><br>

            <label for="amount">Amount</label><br>
            <input type="number" name="amount" id="amount"><br>

            <input type="submit" value="Send">
        </form>
        {% endif %}
    </div>
</body>
</html>