<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'moneyLawndering/style.css' %}">
</head>

<body class="normal-page-background">
    <header>
        <div class="navBar">
            {% if user.type == 0 %}
                <div class="navBarBox">Welcome to Money Lawndering!</div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:account' user.id %}"><div>Account</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:publicListing' user.id %}"><div>Public Listings</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:acceptedJobs' user.id %}"><div>Accepted Jobs</div></a> </div>
                <div class="selectedNavBarBox"> History </div>
            {% elif user.type == 1 %}
                <div class="navBarBox">Welcome to Money Lawndering!</div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:account' user.id %}"><div>Account</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:myListing' user.id %}"><div>Your Listings</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:createListing' user.id %}"><div>New Listing</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:directTransfer' user.id %}"><div>Direct Transfer</div></a> </div>
                <div class="selectedNavBarBox"> History </div>
            {% elif user.type == 2 %}
                <div class="navBarBox">Welcome to Money Lawndering!</div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:admin' user.id %}"><div>Admin</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:publicListing' user.id %}"><div>Public Listings</div></a> </div>
                <div class="selectedNavBarBox"> History </div>
            {% endif %}
        </div>
    </header>
    <div>
        <h2>Listings History</h2>
        <table id="history-table">
            <tr>
                <th>Customer</th>
                <th>Category</th>
                <th>Location</th>
                <th>Estimated Time</th>
                <th>Day of Week</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Description</th>
                <th>Price</th>
                <th>Status</th>
                <th>Worker</th>
                <th>Date Published</th>
            </tr>
            {% for listing in listings %}
                <tr>
                    <th>{{listing.customer.name}}</th>
                    <th>{{listing.category}}</th>
                    <th>{{listing.location}}</th>
                    <th>{{listing.time_est}}</th>
                    <th>{{listing.dayOfWeek}}</th>
                    <th>{{listing.startTimeOfDay}}</th>
                    <th>{{listing.endTimeOfDay}}</th>
                    <th>{{listing.description}}</th>
                    <th>{{listing.price}}</th>
                    <th>{{listing.status}}</th>
                    <th>{{listing.worker}}</th>
                    <th>{{listing.pubDate}}</th>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>