<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'moneyLawndering/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'moneyLawndering/style.css' %}">
</head>

<body class="normal-page-background">
    <header>
        <div class="navBar">
            {% if user.type == 0 %}
                <div class="navBarBox">Welcome to Money Lawndering!</div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:account' %}"><div>Account</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:publicListing' %}"><div>Public Listings</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:acceptedJobs' %}"><div>Accepted Jobs</div></a> </div>
                <div class="selectedNavBarBox"> History </div>
            {% elif user.type == 1 %}
                <div class="navBarBox">Welcome to Money Lawndering!</div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:account' %}"><div>Account</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:myListing' %}"><div>Your Listings</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:createListing' %}"><div>New Listing</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:directTransfer' %}"><div>Direct Transfer</div></a> </div>
                <div class="selectedNavBarBox"> History </div>
            {% elif user.type == 2 %}
                <div class="navBarBox">Welcome to Money Lawndering!</div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:admin' %}"><div>Admin</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:account' %}"><div>Account</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:publicListing' %}"><div>Public Listings</div></a> </div>
                <div class="selectedNavBarBox"> History </div>
                <div class="navBarBox">
                    <a href="{% url 'moneyLawndering:category' %}">
                        <div>Categories</div>
                    </a>
                </div>
            {% endif %}
        </div>
    </header>
    <div class="container d-flex justify-content-center">
        <h2 class="m-3">Listing History</h2>
    </div>
    <div class="container d-flex justify-content-center">
        <div class="m-3">
            <table class="table table-light table-hover">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>Category</th>
                        <th>Location</th>
                        <th>Estimated Time</th>
                        <th>Day of Week</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th>Worker</th>
                        <th>Date Published</th>
                    </tr>
                </thead>
                <tbody>
                {% for listing in listings %}
                    <tr>
                        <td>{{listing.customer.name}}</td>
                        <td>{{listing.category}}</td>
                        <td>{{listing.location}}</td>
                        <td>{{listing.time_est}}</td>
                        <td>{{listing.dayOfWeek}}</td>
                        <td>{{listing.startTimeOfDay}}</td>
                        <td>{{listing.endTimeOfDay}}</td>
                        <td>{{listing.description}}</td>
                        <td>{{listing.price}}</td>
                        <td>{{listing.status}}</td>
                        <td>{{listing.workername}}</td>
                        <td>{{listing.pubDate}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top bg-light">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <span class="text-muted">© 2022 Group 6, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li><span class="social-text social-box"><p>Follow us!</p></span></li>
			<li><span class="social-icon social-box social-facebook"><i class="fa fa-facebook"></i></span></li>
            <li><span class="social-icon social-box social-instagram"><i class="fa fa-instagram"></i></span></li>
            <li><span class="social-icon social-box social-twitter"><i class="fa fa-twitter"></i></span></li>
            <li><span class="social-icon social-box social-twitter"><i class="fa fa-linkedin"></i></span></li>
        </ul>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>