<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Your Listings</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		{% load static %}
		<link rel="shortcut icon" type="image/png" href="{% static 'moneyLawndering/favicon.ico' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'moneyLawndering/style.css' %}">
	</head>
	<body class="normal-page-background">
		<header>
			<div class="container-sm">
				<div class="row navBar pl-3 d-flex justify-content-between">
					<div class="navbar centered">
						<img class="col logoHeader" src="{% static 'moneyLawndering/ML-logo.png' %}" alt="MoneyLawndering Logo">
						<div class="col mr-4"> <a class="text-white" href="{% url 'moneyLawndering:account' %}">Account</a></div>
						<div class="col mr-4 text-white"> <a class="text-white" href="{% url 'moneyLawndering:myListing' %}"><b>Your Listings</b></a></div>
						<div class="col mr-4 text-white"> <a class="text-white" href="{% url 'moneyLawndering:createListing' %}">New Listing</a></div>
						<div class="col mr-4 text-white"> <a class="text-white" href="{% url 'moneyLawndering:directTransfer' %}">Direct Transfer</a></div>
						<div class="col"> <a class="text-white" href="{% url 'moneyLawndering:history' %}">History</a></div>
					</div>
					<div class="navbar d-flex justify-content-end">
						<div class="col text-warning"><a class="text-warning" href="{% url 'moneyLawndering:logout' %}">Log Out</a></div>
					</div>
				</div>
			</div>
		</header>
	<div class='fix'>
		<div class="centered pageSelector">
			<select id="listings-type" class="pageSelector">
				<option value="openListings">Open Listings</option>
				<option value="pendingListings" selected>Pending Listings</option>
				<option value="acceptedListings">Accepted Listings</option>
				<option value="completedListings">Completed Listings</option>
			</select>
		</div>

		<div id="carousel" class="carousel slide" data-ride="carousel" data-bs-interval="false" data-interval="false">
		<div class="carousel-inner">
			<div class="carousel-item">
				<div class="listingStatusList listingsScroll" id="openListings">
					<div class="container d-flex justify-content-center">
						<div class="w-50">
							{% if openListing|length == 0 %}
								<h5 class="centered">You don't have any open listings! Hop on over to the new listings page to create one!</h5>
							{% else %}
								<h5 class="centered">Nobody has applied for these yet, so you can still edit them.</h5>
								<ul>
								{% for listing in openListing %}
									<li>
										<div class="card blurred loginContents largeLogin">
											<form action="{% url 'moneyLawndering:updateListing' listing.id %}" method="post">
												{% csrf_token %}
												{{ form }}
												<div class="form-floating form-group">
													<label for="category"><b>Choose a category:</b></label><br>
														<select name="category" class="form-control" id="category">
															{% for category in categories %}
																{% if category == listing.category %}
																	<option value="{{category.type}}" selected> {{category.type}}</option>
																{% else %}
																	<option value={{category.type}}> {{category.type}}</option>
																{% endif %}
															{% endfor %}
														</select><br>
												</div>
												<div class="form-floating form-group">
													<label for="price"><b>Price ($):</b></label><br>
													<input type="number" class="form-control" name="price" id="price" value="{{listing.price}}" required><br>
												</div>
												<div class="form-floating form-group">
													<label for="description"><b>Description:</b></label><br>
													<textarea id="description" class="form-control" name="description" rows=4 width="12vh" required>{{listing.description}}</textarea> <br>
												</div>
												<div class="form-floating form-group">
													<label for="time_est"><b>Estimated Completion Time (hours):</b></label><br>
													<input type="number" class="form-control" name="time_est" id="time_est" value="{{listing.time_est}}" required><br>
												</div>
												<div class="form-floating form-group">
													<label for="dayOfWeek"><b>Your Availability:</b></label><br>
													<select name="dayOfWeek" class="form-control" id="dayOfWeek" multiple>
														{% if listing.dayOfWeek == "monday" %}
															<option value="monday" selected>Monday</option>
														{% else %}
															<option value="monday">Monday</option>
														{% endif %}
														{% if listing.dayOfWeek == "tuesday" %}
															<option value="tuesday" selected>Tuesday</option>
														{% else %}
															<option value="tuesday">Tuesday</option>
														{% endif %}
														{% if listing.dayOfWeek == "wednesday" %}
															<option value="wednesday" selected>Wednesday</option>
														{% else %}
															<option value="wednesday">Wednesday</option>
														{% endif %}
														{% if listing.dayOfWeek == "thursday" %}
															<option value="thursday" selected>Thursday</option>
														{% else %}
															<option value="thursday">Thursday</option>
														{% endif %}
														{% if listing.dayOfWeek == "Friday" %}
															<option value="friday" selected>Friday</option>
														{% else %}
															<option value="friday">Friday</option>
														{% endif %}
														{% if listing.dayOfWeek == "saturday" %}
															<option value="saturday" selected>Saturday</option>
														{% else %}
															<option value="saturday">Saturday</option>
														{% endif %}
														{% if listing.dayOfWeek == "sunday" %}
															<option value="sunday" selected>Sunday</option>
														{% else %}
															<option value="sunday">Sunday</option>
														{% endif %}
													</select><br>
												</div>
												<div class="form-floating form-group">
													<label for="startTime"><b>From: </b></label><br>
													<input type="time" class="form-control" id="startTime" name="startTime" min="07:00:00" max="20:00:00" value="{{listing.startTimeOfDay}}" required><br>
												</div>
												<div class="form-floating form-group">
													<label for="endTime"><b>To: </b></label><br>
													<input type="time" class="form-control" id="endTime" name="endTime" min="07:00:00" max="20:00:00" value="{{listing.endTimeOfDay}}" required><br>
												</div>
												<div class="form-floating form-group">
													<label for="location"><b>Location</b></label><br>
													<input type="text" class="form-control" name="location" id="location" value="{{listing.location}}" required><br>
												</div>
												<div class="form-floating form-group">
													<input class="w-100 btn btn-lg btn-warning loginItem" type="submit" value="Update">
												</div>
											</form>
											<form action="{% url 'moneyLawndering:deleteListing' listing.id %}" method="post">
												{% csrf_token %}
												{{ form }}
												<div class="form-floating form-group">
													<input class="w-100 btn btn-lg btn-danger loginItem" type="submit" value="Delete">
												</div>
											</form>
										</div>
									</li>
								{% endfor %}
								</ul>
							{% endif %}
						</div>
					</div>
				</div>
			</div>

			<div class="carousel-item active">
				<div class="listingStatusList listingsScroll" id="pendingListings">
					<div class="container d-flex justify-content-center">
						<div class="w-50">
							{% if pendingListing|length == 0 %}
								<h5 class="centered listingsScrollMin">You don't have any pending listings! You can try modifying your existing ones to make them more attractive!</h5>
							{% else %}
								<h5 class="centered listingsScrollMin"> These are the listings somebody has applied for.</h5>
								<ul>
								{% for listing in pendingListing %}
									<li>
										<div class="card blurred loginContents largeLogin">
											<div class="form-floating centered">
												<h2>{{listing.category|capfirst}}</h2>
											</div>
											<div class="form-floating centered">
												<h3>${{listing.price|floatformat:"-2g"}}</h3>
											</div>
											<div class="form-floating">
												<h3>Description: </h3>{{listing.description|capfirst}}
											</div>
											<div class="form-floating">
												{% if listing.time_est == 1.0 %}
													<p>It'll probably take about 1 hour.</p>
												{% else %}
													<p>It'll probably take about {{listing.time_est|floatformat:"-1g"}} hours.</p>
												{% endif %}
											</div>
											<div class="form-floating">
												<div><h3>When: </h3>{{listing.dayOfWeek|capfirst}} between {{listing.startTimeOfDay}} and {{listing.endTimeOfDay}}</div>
											</div>
											<div class="form-floating">
												<div><h3>Where: </h3>{{listing.location|capfirst}}</div>
											</div>
											<div class="form-floating">
												<div><h3>Who: </h3><a href="{% url 'moneyLawndering:applicantlist' listing.id %}">Click here to view applicant(s)</a></div>
											</div>
										</div>
									</li>
								{% endfor %}
								</ul>
							{% endif %}
						</div>
					</div>
				</div>
			</div>

			<div class="carousel-item">
				<div class="listingStatusList listingsScroll" id="acceptedListings">
					<div class="container d-flex justify-content-center">
						<div class="w-50">
							{% if acceptedListing|length == 0 %}
								<h5 class="centered listingsScrollMin">You haven't accepted anyone for any of your jobs yet.</h5>
							{% else %}
								<h5 class="centered listingsScrollMin">These jobs are currently in progress. Check back later!</h5>
								<ul>
								{% for listing in acceptedListing %}
									<li>
										<div class="card blurred loginContents largeLogin">
											<div class="form-floating centered">
												<h2>{{listing.category|capfirst}}</h2>
											</div>
											<div class="form-floating centered">
												<h3>${{listing.price|floatformat:"-2g"}}</h3>
											</div>
											<div class="form-floating">
												<h3>Description: </h3>{{listing.description|capfirst}}
											</div>
											<div class="form-floating">
												{% if listing.time_est == 1.0 %}
													<p>It probably took about 1 hour.</p>
												{% else %}
													<p>It probably took about {{listing.time_est|floatformat:"-1g"}} hours.</p>
												{% endif %}
											</div>
											<div class="form-floating">
												<div><h3>When: </h3>{{listing.dayOfWeek|capfirst}} between {{listing.startTimeOfDay}} and {{listing.endTimeOfDay}}</div>
											</div>
											<div class="form-floating">
												<div><h3>Who: </h3>{{listing.workername|capfirst}}</div>
											</div>
											<div class="form-floating">
												<div><h3>Where: </h3>{{listing.location|capfirst}}</div>
											</div>
											<div class="form-floating">
												<div><h3>Worker Contact Info: </h3>{{listing.workerPhoneNumber|capfirst}}</div>
											</div>
										</div>
									</li>
								{% endfor %}
								</ul>
							{% endif %}
						</div>
					</div>
				</div>
			</div>

			<div class="carousel-item">
				<div class="listingStatusList listingsScroll" id="completedListings">
					<div class="container d-flex justify-content-center">
						<div class="w-50">
							{% if completedListing|length == 0 %}
								<h5 class="centered listingsScrollMin">Nobody has completed any jobs for you.</h5>
							{% else %}
								<h5 class="centered listincsScrollMin">Leave a review!</h5>
								<ul>
								{% for listing in completedListing %}
									<li>
										<div class="card blurred loginContents largeLogin">
											<div class="form-floating">
												<h2>{{listing.workername}}</h2>
											</div>
											<div class="form-floating">
												<h5>{{listing.description|capfirst}}</h5>
											</div>
											<div class="form-floating">
												<form action="{% url 'moneyLawndering:customerReview' listing.id %}" method="post">
													{% csrf_token %}
													{{ form }}
													<label for="category"><b>Rate your experience with this worker:</b></label>
														<br>
													  <div class="rate" id="rating">
														<input type="radio" id="star5" name="rating" value={{5}} checked/>
														<label for="star5" title="5 stars">5 stars</label>
														<input type="radio" id="star4" name="rating" value={{4}} />
														<label for="star4" title="4 stars">4 stars</label>
														<input type="radio" id="star3" name="rating" value={{3}} />
														<label for="star3" title="3 stars">3 stars</label>
														<input type="radio" id="star2" name="rating" value={{2}} />
														<label for="star2" title="2 stars">2 stars</label>
														<input type="radio" id="star1" name="rating" value={{1}} />
														<label for="star1" title="1 star">1 star</label>
													  </div>
													<br>
													<br>

													<label for="review"><b>How did it go?</b></label>
													<textarea id="review" class="form-control" name="review" rows="4" cols="50"></textarea> <br>
													<div class="form-floating form-group">
														<input class="w-100 btn btn-lg btn-primary loginItem" type="submit" value="Leave Review">
													</div>
												</form>
											</div>
										</div>
									</li>
								{% endfor %}
								</ul>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
		<footer >
			<div class="container-sm">
				<div class="row py-3 bg-light">
					<div class="w-100 mt-2 d-flex justify-content-end">
						<span class="social-text">Follow us!</span>
						<span class="social-icon social-box social-facebook"><i class="fa fa-facebook"></i></span>
						<span class="social-icon social-box social-instagram"><i class="fa fa-instagram"></i></span>
						<span class="social-icon social-box social-twitter"><i class="fa fa-twitter"></i></span>
						<span class="social-icon social-box social-twitter"><i class="fa fa-linkedin"></i></span>
					</div>
					<div class='text-muted ml-3'><p>© 2022 Group 6, Inc</p></div>
				</div>
			</div>
		</footer>
		{% load static %}
		<script src="{% static 'moneyLawndering/myListing.js' %}"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>