<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Listings</title>
    {% load static %}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'moneyLawndering/style.css' %}">
</head>

<body class="normal-page-background">
    <header>
        <div class="navBar">
            {% if user.type == 0 %}
                <div class="navBarBox">Welcome to Money Lawndering!</div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:account' %}"><div>Account</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:publicListing' %}"><div>Public Listings</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:acceptedJobs' %}"><div>Accepted Jobs</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:history' %}"><div>History</div></a> </div>
            {% elif user.type == 1 %}
                <div class="navBarBox">Welcome to Money Lawndering!</div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:account' %}"><div>Account</div></a> </div>
                <div class="selectedNavBarBox"> Your Listings </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:createListing' %}"><div>New Listing</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:directTransfer' %}"><div>Direct Transfer</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:history' %}"><div>History</div></a> </div>
            {% endif %}
        </div>
    </header>
    <label for="listings-type">Listing Type:</label>
    <select id="listings-type">
        <option value="openListings">Open Listings</option>
        <option value="pendingListings">Pending Listings</option>
        <option value="acceptedListings">Accepted Listings</option>
        <option value="completedListings">Completed Listings</option>
    </select>
    <div class="listingsPage">
    <div class="listingStatusList listingsScroll" id="openListings">
    <div class="centered">These are all the open listings</div>
    <ul>
    {% for listing in openListing %}
    <li class="listing">
        <div class="listingInfo">
        <form action="{% url 'moneyLawndering:updateListing' listing.id %}" method="post">
            {% csrf_token %}
            {{ form }}
            <label for="category">Choose a category:</label><br>
            <select name="category" id="category">
               {% for category in categories %}
                    {% if category == listing.category %}
                        <option value="{{category.type}}" selected> {{category.type}}</option>
                    {% else %}
                        <option value={{category.type}}> {{category.type}}</option>
                    {% endif %}
               {% endfor %}
            </select><br>

            <label for="location">Location</label><br>
            <input type="text" name="location" id="location" value="{{listing.location}}"><br>

            <label for="time_est">Estimated time to complete job</label><br>
            <input type="number" name="time_est" id="time_est" value="{{listing.time_est}}">
            <small> hrs</small><br>

            <label for="dayOfWeek">Day of week you are available</label><br>
            <select name="dayOfWeek" id="dayOfWeek" multiple>
                {% if listing.dayOfWeek == "monday" %}
                    <option value="monday" selected>Monday</option>
                {% else %}
                    <option value="monday">Monday</option>
                {% endif %}
                {% if listing.dayOfWeek == "tuesday" %}
                    <option value="tuesday" selected>Tuesday</option>
                {% else %}
                    <option value="tuesday">Tuesday</option>
                {% endif %}
                {% if listing.dayOfWeek == "wednesday" %}
                    <option value="wednesday" selected>Wednesday</option>
                {% else %}
                    <option value="wednesday">Wednesday</option>
                {% endif %}
                {% if listing.dayOfWeek == "thursday" %}
                    <option value="thursday" selected>Thursday</option>
                {% else %}
                    <option value="thursday">Thursday</option>
                {% endif %}
                {% if listing.dayOfWeek == "Friday" %}
                    <option value="friday" selected>Friday</option>
                {% else %}
                    <option value="friday">Friday</option>
                {% endif %}
                {% if listing.dayOfWeek == "saturday" %}
                    <option value="saturday" selected>Saturday</option>
                {% else %}
                    <option value="saturday">Saturday</option>
                {% endif %}
                {% if listing.dayOfWeek == "sunday" %}
                    <option value="sunday" selected>Sunday</option>
                {% else %}
                    <option value="sunday">Sunday</option>
                {% endif %}
            </select><br>

            <label for="startTime">You are available from: </label><br>
            <input type="time" id="startTime" name="startTime"
               min="07:00:00" max="20:00:00" value="{{listing.startTimeOfDay}}" required><br>

            <label for="endTime">To: </label><br>
            <input type="time" id="endTime" name="endTime"
               min="07:00:00" max="20:00:00" value="{{listing.endTimeOfDay}}" required><br>

            <label for="description">Description of Job:</label><br>
            <textarea id="description" name="description" rows="4" width="12vh">{{listing.description}}</textarea> <br>

            <label for="price">Price</label><br>
            <input type="number" name="price" id="price" value="{{listing.price}}"><small>$</small><br>

            <input type="submit" value="Update">
        </form>
        <form action="{% url 'moneyLawndering:deleteListing' listing.id %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Delete">
        </form>
    </div>
    </li>
    {% endfor %}
    </ul>
    </div>

    <div class="listingStatusList listingsScroll" id="pendingListings">
    <div class="centered">These are all the pending listings</div>
    {% for listing in pendingListing %}
        <li class="listing">
            <h2>{{listing.category|capfirst}}</h2>
            <h3>${{listing.price|floatformat:"-2g"}}</h3>
            <div>
                <h3>Description: </h3>{{listing.description|capfirst}}
                {% if listing.time_est == 1.0 %}
                    <p>It'll probably take about 1 hour.</p>
                {% else %}
                    <p>It'll probably take about {{listing.time_est|floatformat:"-1g"}} hours.</p>
                {% endif %}
            </div>
            <div><h3>When: </h3>{{listing.dayOfWeek|capfirst}} between {{listing.startTimeOfDay}} and {{listing.endTimeOfDay}}</div>
            <a href="{% url 'moneyLawndering:applicantlist' listing.id %}">Click here to view applicant(s)</a>
        </li>
    {% endfor %}
    </div>

    <div class="listingStatusList listingsScroll" id="acceptedListings">
    <div class="centered">These are all the accepted listings</div>
    <ul>
 {% for listing in acceptedListing %}
    <li class="listing">
        <h2>{{listing.category|capfirst}}</h2>
        <h3>${{listing.price|floatformat:"-2g"}}</h3>
        <div>
            <h3>Description: </h3>{{listing.description|capfirst}}
            {% if listing.time_est == 1.0 %}
                <p>It'll probably take about 1 hour.</p>
            {% else %}
                <p>It'll probably take about {{listing.time_est|floatformat:"-1g"}} hours.</p>
            {% endif %}
        </div>
        <div><h3>When: </h3>{{listing.dayOfWeek|capfirst}} between {{listing.startTimeOfDay}} and {{listing.endTimeOfDay}}</div>
    </li>
    {% endfor %}
    </ul>
    </div>

    <div class="listingStatusList listingsScroll" id="completedListings">
    <div class="centered">These are all the recently completed listings</div>
    {% for listing in completedListing %}
        <li class="listing">
        <div> listing {{listing.id}} </div>
    <!-- this will display all completed listings -->
        <div>{{listing.customer.name}}</div>
        <form action="{% url 'moneyLawndering:customerReview' listing.id%}" method="post">
            {% csrf_token %}
            {{ form }}
            <label for="category">Choose a category:</label>
            <select name="rating" id="rating">
                <option value={{1}}> 1 star</option>
                <option value={{2}}> 2 star</option>
                <option value={{3}}> 3 star</option>
                <option value={{4}}> 4 star</option>
                <option value={{5}}> 5 star</option>
            </select> <br>

            <label for="review">Feedback:</label>
            <textarea id="review" name="review" rows="4" width="12vh"></textarea> <br>

            <input type="submit"  value="Job Completed"><br>
        </form>
        </li>
    {% endfor %}
    </div>
    </div>
    {% load static %}
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="{% static 'moneyLawndering/myListing.js' %}"></script>
</body>
</html>