<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Listings</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'moneyLawndering/style.css' %}">
</head>

<body class="normal-page-background">
    <header>
        <div class="navBar">
            {% if user.type == 0 %}
                <div class="navBarBox">Welcome to Money Lawndering!</div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:account' user.id %}"><div>Account</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:publicListing' user.id %}"><div>Public Listings</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:acceptedJobs' user.id %}"><div>Accepted Jobs</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:history' user.id %}"><div>History</div></a> </div>
            {% elif user.type == 1 %}
                <div class="navBarBox">Welcome to Money Lawndering!</div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:account' user.id %}"><div>Account</div></a> </div>
                <div class="selectedNavBarBox"> Your Listings </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:newListing' user.id %}"><div>New Listing</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:directTransfer' user.id %}"><div>Direct Transfer</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:history' user.id %}"><div>History</div></a> </div>
            {% endif %}
        </div>
    </header>
<div>You're on your listings page.</div>
</body>
</html>