<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Public Listings</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'moneyLawndering/style.css' %}">
</head>

<body class="normal-page-background">
    <header>
        <div class="navBar">
            {% if user.type == 0 %}
                <div class="navBarBox">Welcome to Money Lawndering!</div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:account' user.id %}"><div>Account</div></a> </div>
                <div class="selectedNavBarBox"> Public Listings </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:acceptedJobs' user.id %}"><div>Accepted Jobs</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:history' user.id %}"><div>History</div></a> </div>
            {% elif user.type == 1 %}
                <div class="navBarBox">Welcome to Money Lawndering!</div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:account' user.id %}"><div>Account</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:myListing' user.id %}"><div>Your Listings</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:createListing' user.id %}"><div>New Listing</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:directTransfer' user.id %}"><div>Direct Transfer</div></a> </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:history' user.id %}"><div>History</div></a> </div>
            {% elif user.type == 2 %}
                <div class="navBarBox">Welcome to Money Lawndering!</div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:admin' user.id %}"><div>Admin</div></a> </div>
                <div class="selectedNavBarBox"> Public Listings </div>
                <div class="navBarBox"> <a href="{% url 'moneyLawndering:history' user.id %}"><div>History</div></a> </div>
            {% endif %}
        </div>
    </header>
<ul>
 {% for listing in listings %}
    <li class="listing">
        <h2>{{listing.category|capfirst}}</h2>
        <h3>${{listing.price|floatformat:"-2g"}}</h3>
        <div>
            <h3>Description: </h3>{{listing.description|capfirst}}
            {% if listing.time_est == 1.0 %}
                <p>It'll probably take about 1 hour.</p>
            {% else %}
                <p>It'll probably take about {{listing.time_est|floatformat:"-1g"}} hours.</p>
            {% endif %}
        </div>
        <div><h3>When: </h3>{{listing.dayOfWeek|capfirst}} between {{listing.startTimeOfDay}} and {{listing.endTimeOfDay}}</div>
        <div><h3>Who: </h3>{{listing.customer.name|capfirst}}</div>
        <form action="{% url 'moneyLawndering:acceptListing' user.id listing.id %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Accept Listing">
        </form>
    </li>
 {% endfor %}
</ul>
</body>
</html>