<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
		{% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'moneyLawndering/style.css' %}">
    </head>
    <body>
	<! –– Extra Small screens ––>
	<div class="d-sm-none d-flex centered smallLogin small-title-page-background">
	<div class="card loginContents blurred" style="width: 18rem;">
		<main class="form-signin">

			<form action="{% url 'moneyLawndering:signin' %}" method="post">
				{% csrf_token %}
				{{ form }}
				<div class="form-floating loginItem">
					<input type="email" class="form-control" name="email" id="floatingInput" placeholder="Email Address">
				</div>
				<div class="form-floating loginItem">
					<input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
				</div>
					<input class="w-100 btn btn-lg btn-primary loginItem" type="submit" value="Sign In">
			</form>
			<form method="get" action="{% url 'moneyLawndering:signup' %}">
				<button class="w-100 btn btn-lg btn-secondary" type="submit">Sign Up</button>
			</form>
		</main>
		<hr>
			<div class="card-body">
				<h5 class="card-title centered">What The Community is Saying Right Now:</h5>
				<div id="scroll-container">
					<div id="scroll-text">
						<p class="card-text centered">
							Best Lawn Care Ever!<br>
							-Dora T. E.
						</p>
						<p class="card-text centered">
							110% Now I'm rich!! It was easy<br>
							-Ryan D.
						</p>
						<p class="card-text centered">
							10/10 - I made that kid rich lolol!<br>
							-Walter H.
						</p>
						<p class="card-text centered">
							2 thumbs up!<br>
							-Laura S.
						</p>
						<p class="card-text centered">
							 I'll definitely refer my friends!<br>
							-Kennedy M.
						</p>
						<p class="card-text centered">
							Loved it! This is a super fun job!<br>
							-Kaylee P.
						</p>
						<p class="card-text centered">
							5/5 Stars! <br>
							-Tony B.
						</p>
						<p class="card-text centered">
							Best service on the market!<br>
							-Lynda H. W.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<! –– End Extra Small screens ––>

	<! –– Small and Medium screens ––>
	<div class="d-none d-sm-block d-lg-none">
		<div class="d-flex justify-content-end ">
			<div class="title-page-background">
			<div class="card loginContents blurred normalLogin" style="width: 18rem;">
			<main class="form-signin">

				<form action="{% url 'moneyLawndering:signin' %}" method="post">
					{% csrf_token %}
					{{ form }}
					<div class="form-floating loginItem">
						<input type="email" class="form-control" name="email" id="floatingInput" placeholder="Email Address">
					</div>
					<div class="form-floating loginItem">
						<input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
					</div>
						<input class="w-100 btn btn-lg btn-primary loginItem" type="submit" value="Sign In">
				</form>
				<form method="get" action="{% url 'moneyLawndering:signup' %}">
					<button class="w-100 btn btn-lg btn-secondary" type="submit">Sign Up</button>
				</form>
			</main>
			</div>
			</div>
		</div>
	</div>
	<! –– End Small and Medium screens ––>

	<! –– Large and Extra Large screens ––>
	<div class="d-none d-lg-block">
		<div class="d-flex justify-content-end ">
			<div class="title-page-background">
                <div class="card loginContents blurred largeLogin" style="width: 22rem;">
                    <main class="form-signin">
                        <form action="{% url 'moneyLawndering:signin' %}" method="post">
                            {% csrf_token %}
                            {{ form }}
                            <div class="form-floating loginItem">
                                <input type="email" class="form-control" name="email" id="floatingInput" placeholder="Email">
                            </div>
                            <div class="form-floating loginItem">
                                <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
                            </div>
                                <input class="w-100 btn btn-lg btn-primary loginItem" type="submit" value="Sign In">
                        </form>
                        <form method="get" action="{% url 'moneyLawndering:signup' %}">
                            <button class="w-100 btn btn-lg btn-secondary" type="submit">Sign Up</button>
                        </form>
                    </main>
                    <hr>
                    <div class="card-body">
                        <h5 class="card-title centered">What The Community is Saying Right Now:</h5>
                        <div id="scroll-container">
                            <div id="scroll-text">
                                <p class="card-text centered">
                                    Best Lawn Care Ever!<br>
                                    -Dora T. E.
                                </p>
                                <p class="card-text centered">
                                    110% Now I'm rich!! It was easy<br>
                                    -Ryan D.
                                </p>
                                <p class="card-text centered">
                                    10/10 - I made that kid rich lolol!<br>
                                    -Walter H.
                                </p>
                                <p class="card-text centered">
                                    2 thumbs up!<br>
                                    -Laura S.
                                </p>
								<p class="card-text centered">
                                     I'll definitely refer my friends!<br>
                                    -Kennedy M.
                                </p>
                                <p class="card-text centered">
                                    Loved it! This is a super fun job!<br>
                                    -Kaylee P.
                                </p>
                                <p class="card-text centered">
                                    5/5 Stars! <br>
                                    -Tony B.
                                </p>
                                <p class="card-text centered">
                                    Best service on the market!<br>
                                    -Lynda H. W.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
	<! –– End Large and Extra Large Screens ––>

	<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top bg-light">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <span class="text-muted">© 2022 Group 6, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li><span class="social-text social-box"><p>Follow us!</p></span></li>
			<li><span class="social-icon social-box social-facebook"><i class="fa fa-facebook"></i></span></li>
            <li><span class="social-icon social-box social-instagram"><i class="fa fa-instagram"></i></span></li>
            <li><span class="social-icon social-box social-twitter"><i class="fa fa-twitter"></i></span></li>
            <li><span class="social-icon social-box social-twitter"><i class="fa fa-linkedin"></i></span></li>
        </ul>
      </footer>
	</body>
</html>