<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Worker's Reviews</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'moneyLawndering/favicon.ico' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'moneyLawndering/style.css' %}">
    </head>
	<body class="normal-page-background">
		<header>
			<div class="conatainer-sm">
				<div class="row navBar pl-3">
					<img class="col logoHeader mr-4" src="{% static 'moneyLawndering/ML-logo.png' %}" alt="MoneyLawndering Logo">
					<div class="col mr-4"> <a class="text-white" href="{% url 'moneyLawndering:account' %}">Account</a></div>
					{% if user.type == 0 %}
						<div class="col mr-4 text-white"><a class="text-white" href="{% url 'moneyLawndering:publicListing' %}">Public Listings</a></div>
						<div class="col mr-4 text-white"> <a class="text-white" href="{% url 'moneyLawndering:acceptedJobs' %}">Accepted Jobs</a></div>
					{% elif user.type == 1 %}
						<div class="col mr-4 text-white"> <a class="text-white" href="{% url 'moneyLawndering:myListing' %}">Your Listings</a></div>
						<div class="col mr-4 text-white"> <a class="text-white" href="{% url 'moneyLawndering:createListing' %}">New Listing</a></div>
						<div class="col mr-4 text-white"> <a class="text-white" href="{% url 'moneyLawndering:directTransfer' %}">Direct Transfer</a></div>
					{% elif user.type == 2 %}
						<div class="col mr-4 text-white"> <a class="text-white" href="{% url 'moneyLawndering:admin' %}">Admin</a></div>
						<div class="col mr-4 text-white"><a class="text-white" href="{% url 'moneyLawndering:publicListing' %}">Public Listings</a></div>
						<div class="col mr-4 text-white"><a class="text-white" href="{% url 'moneyLawndering:category' %}">Categories</a></div>
					{% endif %}
					<div class="col"> <a class="text-white" href="{% url 'moneyLawndering:history' %}">History</a></div>
					<div class="col text-warning"><a class="text-warning" href="{% url 'moneyLawndering:logout' %}">Logout</a></div>
				</div>
			</div>
		</header>
        <div class="container d-flex justify-content-center">
            <div class="d-flex flex-column w-75">
                <div class="card loginContents blurred m-3 text-center loginItem">
                    <form action="{% url 'moneyLawndering:applicantlist' listing.id %}" method="get">
                        {% csrf_token %}
                        {{ form }}
                        <div class="form-floating loginItem">
                            <h1>{{worker.name}}'s Overall Rating</h1>
                            {% if user.rating == 0 %}
                                <img style="width: 50%;" src='/static/moneyLawndering/Star_rating_0_of_5.png' alt="0 Stars">
                            {% elif user.rating == 1 %}
                                <img style="width: 50%;" src='/static/moneyLawndering/Star_rating_1_of_5.png' alt="1 Star">
                            {% elif user.rating == 2 %}
                                <img style="width: 50%;" src='/static/moneyLawndering/Star_rating_2_of_5.png' alt="2 Stars">
                            {% elif user.rating == 3 %}
                                <img style="width: 50%;" src='/static/moneyLawndering/Star_rating_3_of_5.png' alt="3 Stars">
                            {% elif user.rating == 4 %}
                                <img style="width: 50%;" src='/static/moneyLawndering/Star_rating_4_of_5.png' alt="4 Stars">
                            {% else %}
                                <img style="width: 50%;" src='/static/moneyLawndering/Star_rating_5_of_5.png' alt="5 Stars">
                            {% endif %}
                        </div>
                        <input class="btn btn-success loginItem" type="submit" value="Go Back">
                    </form><hr>
                    {% if reviews|length == 0 %}
                        <h2>{{worker.name}} Has No Reviews</h2>
                    {% else %}
                        <h2>Reviews</h2>
                        {% for review in reviews %}
                            <p class="card-text centered">
                                {% if user.rating == 0 %}
                                    <img style="width: 35%;" src='/static/moneyLawndering/Star_rating_0_of_5.png' alt="0 Stars">
                                {% elif user.rating == 1 %}
                                    <img style="width: 35%;" src='/static/moneyLawndering/Star_rating_1_of_5.png' alt="1 Star">
                                {% elif user.rating == 2 %}
                                    <img style="width: 35%;" src='/static/moneyLawndering/Star_rating_2_of_5.png' alt="2 Stars">
                                {% elif user.rating == 3 %}
                                    <img style="width: 35%;" src='/static/moneyLawndering/Star_rating_3_of_5.png' alt="3 Stars">
                                {% elif user.rating == 4 %}
                                    <img style="width: 35%;" src='/static/moneyLawndering/Star_rating_4_of_5.png' alt="4 Stars">
                                {% else %}
                                    <img style="width: 35%;" src='/static/moneyLawndering/Star_rating_5_of_5.png' alt="5 Stars">
                                {% endif %}
                                <br>
                                {{review.description}}<br>
                                -{{review.customer}}
                            </p>
                            <hr>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
		<div class="margin"></div>
		<footer class="absolute-bottom">
			<div class="container-sm">
				<div class="row py-3 bg-light">
					<div class="w-100 mt-2 d-flex justify-content-end">
						<span class="social-text">Follow us!</span>
						<span class="social-icon social-box social-facebook"><i class="fa fa-facebook"></i></span>
						<span class="social-icon social-box social-instagram"><i class="fa fa-instagram"></i></span>
						<span class="social-icon social-box social-twitter"><i class="fa fa-twitter"></i></span>
						<span class="social-icon social-box social-twitter"><i class="fa fa-linkedin"></i></span>
					</div>
					<div class='text-muted ml-3'><p>© 2022 Group 6, Inc</p></div>
				</div>
			</div>
		</footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>