.title-page-background {
  background-image: url('/static/moneyLawndering/signinBackground.png');
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.normal-page-background {
  background-image: url('/static/moneyLawndering/defaultBackground.png');
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.navBar {
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  background-color: #1a1a6e;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 1vh;
  padding-left: 1vh;
}

.navBarBox {
  flex: 1;
  text-align: center;
  border: 2px solid black;
  padding-top: 4vh;
  padding-bottom: 4vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-right: 1vh;
  margin-left: 1vh;
  background-color: #c1d2e0;
}

.selectedNavBarBox {
  flex: 1;
  text-align: center;
  border: 2px solid black;
  padding-top: 4vh;
  padding-bottom: 4vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-right: 1vh;
  margin-left: 1vh;
  background-color: #99abba;
}

.accountBox {
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a6e;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 1vh;
  padding-left: 1vh;
}

.accountInfo {
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-right: 2vh;
  padding-left: 2vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-right: 1vh;
  margin-left: 1vh;
  background-color: #c1d2e0;
  border: 2px solid black;
  width: 30vh;
}

.starRatingBox {
  flex: 1;
}

html, body {
    width: 100%;
    height: 100%;
    }
    body {
        margin: 0;
        padding: 0;
        }